In [ ]:
#same data, several tables
#tiny data: a standard way to organize the data is a good start for our analysis

#different between a dataset and a database: data are inside different tables in databases. 
#This is a structure. Dataset instead are organized in rows, no tables. 
#a dataset is considered to be structured.

#usually we have to clean the dataset because we would have many data repeated. 
#a table is a RELATION

In [ ]:
#an observation can be thought as a relation between my data

In [ ]:
#example of tiny data: where are the variables? columns, pbs are rows, values are points 

#if I have all different dataset, of course I have a standardization of all different dataset 
#but in dataset it's very difficult to analyse all data: the info can be mixed

#BEFORE TO START THE ANAYSIS: you have to obtain a standard organization for our dataset

In [ ]:
#EXAMPLE 1: pew survey data
#this is not a tidy data: there aren't variables on the top of columns

#we can then have the tiny version of it

In [ ]:
#EXAMPLE 2: billboard data
#this is a tiny data. I have not the necessity to organize my datasets (I hava many) in a smart way.

In [ ]:
#you can obtain long form table (table of few variables and lot of rows) rather than
#wide-form variable (table of few rows and many columns, so many variables)

#check for credits on the ppt of the lesson
#STACKOVERFLOW

WHY IS PANDAS SO MUCH USED? the part of cleaning and preparing data is 80% of the time. it's also the difficult part of it. what is your choice about null value in your data. You don't know the data inside a null, so you should guess. the decision on how to work on null values is not so easy. 


PANDAS CHEAT SHEETS: all pandas functions organized in sections 
panda has a sector dedicated to tiny data

In [ ]:
pt.melt(df) #i started from more columns and rows. 
pt.pivot(columns = "var", values = "val") #you can split the rows into columns 
pd.concat([df1,df2]) #concatenation of two datasets which are put in a list 
pd.concat([df1,df2], axis =1) #in the first column ??
df.rename(columns = {"y":"year"})
#...

In [ ]:
#subset observation rows
#subset variables - columns 
df.filter(regex = "regex") #this is very useful as it allows to have a new dataframe 
#subset - rows and columns : working on the values 
#using query:

In [ ]:
#combine DATASET: it makes no sense to have dataset with repeated rows
#how many join can we use in sql? merge in the case of pandas 
(INNER) JOIN #all the elements in the intersection
LEFT (OUTER) JOIN #all the elements in table 1 and elements in table 2 matched with table 1
#in these two cases we would have many null values  
RIGHT (OUTER) JOIN #all the elements in table 2
FULL (OUTER) JOIN #all the elements in table 1 and 2 but without repetition

In [ ]:
#intersection and union are the same for dataset
#group data: you would obtain lot of insight using 
groupby(by= "col")

It exists an equivalent of pandas for R: Wrangling Cheat Sheet