In [1]:
ifa = "hello"
type(ifa)

str

In [2]:
stra = 3
a = ifa + ifa + ifa
print(a)

hellohellohello

In [3]:
a = 3
b = 2.3
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

In [4]:
c = a * b
print(type(c))

<class 'float'>

In [5]:
a = 9
b = 3
c = a / b
print(c, type(c))

3.0 <class 'float'>

In [6]:
a = 11
b = 4
c = a // b
d = a % b
print(c, type(c))
print(d, type(d))
e = c * b + d
print(e)

2 <class 'int'>
3 <class 'int'>
11

In [11]:
from random import random, randint

In [12]:
a = randint(1, 6)
print("Dice is", a)

Dice is 4

In [13]:
a = random()
print(a)

0.8917654016960064

In [14]:
a = random()
print(a)

0.7131851491418276

In [15]:
for i in range(0, 5):
  print(i, i*i)

0 0
1 1
2 4
3 9
4 16

In [16]:
i = 0
while i < 10:
  print(i)
  i = i + 1

0
1
2
3
4
5
6
7
8
9

In [1]:
a = eval(input("Write whatever you want "))
print(type(a))
print(a)

<class 'int'>
0

In [30]:
exit_flag = False
cycle = 0
while not exit_flag:
  print("Cycle", cycle)
  a = eval(input("Write a number higher than 10 to exit "))
  if a > 10:
    exit_flag = True
  cycle = cycle + 1

Cycle 0
Cycle 1
Cycle 2
Cycle 3
Cycle 4
Cycle 5

In [31]:
a = 89

if a < 4:
  print("lower than 4")
else:
  print("higher or equal than 4")

higher or equal than 4

In [32]:
a = 8

if a < 4:
  print("lower than 4")
elif a < 12:
  print("lower than 12")
elif a < 16:
  print("lower than 16")
else:
  print("higher or equal than 4")

lower than 12

In [33]:
a = 8

if a < 4:
  print("lower than 4")
if a < 12:
  print("lower than 12")
if a < 16:
  print("lower than 16")

lower than 12
lower than 16

In [62]:
# Print numbers from 1 to 10 using a for loop
for i in range(1, 11):
  print(i)

for i in range(10):
  print(i+1)

1
2
3
4
5
6
7
8
9
10
1
2
3
4
5
6
7
8
9
10

In [71]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [34]:
# Calculate the sum of numbers from 1 to 100 using a for loop
partial_sum = 0
for i in range(1, 101):
  partial_sum = partial_sum + i
print(partial_sum)

5050

In [35]:
# Check if a number entered by the user is even or odd
number = int(input("Enter a number: "))
if number % 2 == 0:
    print("Even")
else:
    print("Odd")

Even

In [37]:
# Calculate the sum of even numbers between two given numbers using a while loop
start = int(input("Enter the start number: "))
end = int(input("Enter the end number: "))
sum = 0
while start <= end:
    if start % 2 == 0:
        sum += start
    start += 1
print("Sum of even numbers:", sum)

#my solution
sum=0
a=int(input("your first number is: "))
b=int(input("your second number is: "))
while a<=b:
  if a%2==0:
    sum+=a
  a+=1
print(sum)

Sum of even numbers: 754