In [5]:
import pandas as pd

Using pandas, tabular data can be imported as DataFrame object. A pandas DataFrame represents a rectangular table of data containing an ordered collection of columns and each column can have a different value type. The Iris data set contains four numerical columns for the petal and sepal measurements and one categorical column for the class or type of iris. 

The pandas read_csv function loads delimited data from a file, URL, or file-like object using the comma as the defaul delimiter and creates a DataFrame object. When a pandas dataFrame is created, it has many attributes and methods available that can used on that objecct.

In [6]:
iris=pd.read_csv("iris.data")
iris

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [7]:
csv_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris = pd.read_csv(csv_url, header=None)
iris

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [8]:
#here to understand how to name the columns of a dataframe
col_names = ['Sepal_Lenght','Sepal_Width','Petal_Length',"Petal_Width",
             'Class']
#take care: to make the following command working I had to go to Applicazioni>Python>Install certificates.command
csv_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris = pd.read_csv("iris.data", names=col_names) 
iris

     Sepal_Lenght  Sepal_Width  Petal_Length  Petal_Width           Class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

A DataFrame represents a rectangular table of data and contains an ordered collection of columns, each of which can be a different value type. A Dataframe has both a row and a column index and can be thoughy of as a dict of Series, all sharing the same index. A column in a dataframe can be retrieved as a Series. The columns of the resulting DataFrame have different types.

In [9]:
#can view the top and the bottom of the Dataframe, the index and the column names
iris.head()

   Sepal_Lenght  Sepal_Width  Petal_Length  Petal_Width        Class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [10]:
iris.tail()

     Sepal_Lenght  Sepal_Width  Petal_Length  Petal_Width           Class
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [11]:
#view the index of the dataframe 
iris.index #in this case there are indeed 150 rows named by numbers

RangeIndex(start=0, stop=150, step=1)

In [12]:
#the first function we are going to use now are fundamental but not easy to understand 
#most of the functions built in pandas: row by row, never changing different columns from different rows
iris.columns

Index(['Sepal_Lenght', 'Sepal_Width', 'Petal_Length', 'Petal_Width', 'Class'], dtype='object')

In [13]:
#sorted by an axis
iris_sorted = iris.sort_index(axis=1,ascending=True).head(10)
#axis must be equal to 0 or 1 and it defines the order: by row or by colomn respectively
#ascending to have the elements ordered from the smaller to the greater 
print(iris_sorted)
#we are switching the orders of the columns, maybe for visualizations purposes

         Class  Petal_Length  Petal_Width  Sepal_Lenght  Sepal_Width
0  Iris-setosa           1.4          0.2           5.1          3.5
1  Iris-setosa           1.4          0.2           4.9          3.0
2  Iris-setosa           1.3          0.2           4.7          3.2
3  Iris-setosa           1.5          0.2           4.6          3.1
4  Iris-setosa           1.4          0.2           5.0          3.6
5  Iris-setosa           1.7          0.4           5.4          3.9
6  Iris-setosa           1.4          0.3           4.6          3.4
7  Iris-setosa           1.5          0.2           5.0          3.4
8  Iris-setosa           1.4          0.2           4.4          2.9
9  Iris-setosa           1.5          0.1           4.9          3.1

In [14]:
#it's possible to switch the assigned order
iris_sorted = iris.sort_index(axis=1, ascending=False).head(10)
#in this case we have from the greater to the smaller 
print(iris_sorted)

   Sepal_Width  Sepal_Lenght  Petal_Width  Petal_Length        Class
0          3.5           5.1          0.2           1.4  Iris-setosa
1          3.0           4.9          0.2           1.4  Iris-setosa
2          3.2           4.7          0.2           1.3  Iris-setosa
3          3.1           4.6          0.2           1.5  Iris-setosa
4          3.6           5.0          0.2           1.4  Iris-setosa
5          3.9           5.4          0.4           1.7  Iris-setosa
6          3.4           4.6          0.3           1.4  Iris-setosa
7          3.4           5.0          0.2           1.5  Iris-setosa
8          2.9           4.4          0.2           1.4  Iris-setosa
9          3.1           4.9          0.1           1.5  Iris-setosa

In [15]:
iris_sorted = iris.sort_index(axis=0,ascending=False).head(10)
#here we are sorting in terms of rows indeed the parameter axis is set to be 0 instead of 1
print(iris_sorted)

     Sepal_Lenght  Sepal_Width  Petal_Length  Petal_Width           Class
149           5.9          3.0           5.1          1.8  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
145           6.7          3.0           5.2          2.3  Iris-virginica
144           6.7          3.3           5.7          2.5  Iris-virginica
143           6.8          3.2           5.9          2.3  Iris-virginica
142           5.8          2.7           5.1          1.9  Iris-virginica
141           6.9          3.1           5.1          2.3  Iris-virginica
140           6.7          3.1           5.6          2.4  Iris-virginica

In [16]:
iris_sorted = iris.sort_index(axis=0,ascending=True).head(10)
print(iris_sorted)

   Sepal_Lenght  Sepal_Width  Petal_Length  Petal_Width        Class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa
8           4.4          2.9           1.4          0.2  Iris-setosa
9           4.9          3.1           1.5          0.1  Iris-setosa

In [17]:
#pandas also gives us a functions to get descriptive statistics for the dataframe 
summary_stats = iris.describe()

#display summary statistics 
print("Summary statistics:\n", summary_stats)

Summary statistics:
        Sepal_Lenght  Sepal_Width  Petal_Length  Petal_Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [18]:
#in this case we are counting the unique values in the column "Class": we are counting without repetitions 
unique_classes_count = iris['Class'].value_counts()

#display the count of unique species 
print("Unique Class Count:\n", unique_classes_count)

Unique Class Count:
 Class
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

TAKE CARE OF WHAT'S BELOW
we can group the data as we prefer and print the funcion we are interested in directly.

In [19]:
#we're going to make another: idea on the data set grouping values by something
grouped_data = iris.groupby('Class').mean()

##display the mean values for each species 
print("grouped Data with Mean: \n", grouped_data)
#this would be fundamental for machine learning

grouped Data with Mean:
                  Sepal_Lenght  Sepal_Width  Petal_Length  Petal_Width
Class
Iris-setosa             5.006        3.418         1.464        0.244
Iris-versicolor         5.936        2.770         4.260        1.326
Iris-virginica          6.588        2.974         5.552        2.026

In [20]:
#play with the data frame
#it would be useful to have a portion of the dataset only 
# Select only the 'sepal_length' and 'sepal_width' columns
selected_columns = iris[['Sepal_Lenght', 'Sepal_Width']]

# Display the selected columns
print("Selected Columns:\n", selected_columns.head())

Selected Columns:
    Sepal_Lenght  Sepal_Width
0           5.1          3.5
1           4.9          3.0
2           4.7          3.2
3           4.6          3.1
4           5.0          3.6

In [22]:
#sort the dataset by sepal_length in descending order
sort_df =iris.sort_values(by = 'Sepal_Lenght', ascending=False)

#display the sorted data, descending order
print("Sorted Data by Sepal Length (Descending):\n", sort_df.head())

#we can also reverse the order using parametre ascending  = False

Sorted Data by Sepal Length (Descending):
      Sepal_Lenght  Sepal_Width  Petal_Length  Petal_Width           Class
131           7.9          3.8           6.4          2.0  Iris-virginica
135           7.7          3.0           6.1          2.3  Iris-virginica
122           7.7          2.8           6.7          2.0  Iris-virginica
117           7.7          3.8           6.7          2.2  Iris-virginica
118           7.7          2.6           6.9          2.3  Iris-virginica

In [23]:
#we can even order by multiple fields, for example by couple of columns 
sorted_df = iris.sort_values(by = ["Class", "Petal_Length"], ascending=[True, False])

#display the sorted data
print("Sorted Data by Class and Petal Length:\n", sorted_df)

Sorted Data by Class and Petal Length:
      Sepal_Lenght  Sepal_Width  Petal_Length  Petal_Width           Class
24            4.8          3.4           1.9          0.2     Iris-setosa
44            5.1          3.8           1.9          0.4     Iris-setosa
5             5.4          3.9           1.7          0.4     Iris-setosa
18            5.7          3.8           1.7          0.3     Iris-setosa
20            5.4          3.4           1.7          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
123           6.3          2.7           4.9          1.8  Iris-virginica
127           6.1          3.0           4.9          1.8  Iris-virginica
126           6.2          2.8           4.8          1.8  Iris-virginica
138           6.0          3.0           4.8          1.8  Iris-virginica
106           4.9          2.5           4.5          1.7  Iris-virginica

[150 rows x 5 columns]

In [24]:
#MOST IMPORTANT: filtering the specific feature we want to study
filt_df = iris[iris["Petal_Width"]>1]

#display the filtered data
print("Filtered Data (Petal Length > 4.0):\n", filt_df.head())

Filtered Data (Petal Length > 4.0):
     Sepal_Lenght  Sepal_Width  Petal_Length  Petal_Width            Class
50           7.0          3.2           4.7          1.4  Iris-versicolor
51           6.4          3.2           4.5          1.5  Iris-versicolor
52           6.9          3.1           4.9          1.5  Iris-versicolor
53           5.5          2.3           4.0          1.3  Iris-versicolor
54           6.5          2.8           4.6          1.5  Iris-versicolor

In [ ]:
filtered_rows = iris[(iris["Petal_Length"]>1.5)&(iris["Petal_Width"]<3.0)]
#display the filtered rows
print("filtered Rows:\n", filtered_rows.head())

filtered Rows:
     Sepal_Lenght  Sepal_Width  Petal_Length  Petal_Width        Class
5            5.4          3.9           1.7          0.4  Iris-setosa
11           4.8          3.4           1.6          0.2  Iris-setosa
18           5.7          3.8           1.7          0.3  Iris-setosa
20           5.4          3.4           1.7          0.2  Iris-setosa
23           5.1          3.3           1.7          0.5  Iris-setosa

In [ ]:
#calculate the mean along axis 1
iris["Length mean"] = iris[["Sepal_Lenght", "Petal_Length"]].mean(axis=1)

iris.head()

,Sepal_Lenght,Sepal_Width,Petal_Length,Petal_Width,Class,Length mean
0,5.1,3.5,1.4,0.2,Iris-setosa,3.25
1,4.9,3.0,1.4,0.2,Iris-setosa,3.15
2,4.7,3.2,1.3,0.2,Iris-setosa,3.00
3,4.6,3.1,1.5,0.2,Iris-setosa,3.05
4,5.0,3.6,1.4,0.2,Iris-setosa,3.20

In [ ]:
#create a cross tabulation between class and petal length categories 
cross_tab = pd.crosstab(iris['Class'], iris['Petal_Length'])

#display the cross tabulation
print("cross tabulation between class and petal length:\n", cross_tab)

cross tabulation between class and petal length:
 Petal_Length     1.0  1.1  1.2  1.3  1.4  1.5  1.6  1.7  1.9  3.0  ...  5.7  \
Class                                                              ...
Iris-setosa        1    1    2    7   12   14    7    4    2    0  ...    0
Iris-versicolor    0    0    0    0    0    0    0    0    0    1  ...    0
Iris-virginica     0    0    0    0    0    0    0    0    0    0  ...    3

Petal_Length     5.8  5.9  6.0  6.1  6.3  6.4  6.6  6.7  6.9
Class
Iris-setosa        0    0    0    0    0    0    0    0    0
Iris-versicolor    0    0    0    0    0    0    0    0    0
Iris-virginica     3    2    2    3    1    1    1    2    1

[3 rows x 43 columns]

In [ ]:
#create a new column "sepal_area" by multiplying "sepal_length" and "sepal_width"
iris["Sepal_Area"]=iris["Sepal_Lenght"]*iris["Sepal_Width"]
#display the dataframe with the new column 
print("dataframe with sepal area:\n", iris.head())

dataframe with sepal area:
    Sepal_Lenght  Sepal_Width  Petal_Length  Petal_Width        Class  \
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

   Length mean  Sepal_Area
0         3.25       17.85
1         3.15       14.70
2         3.00       15.04
3         3.05       14.26
4         3.20       18.00

In [ ]:
#randomly sample 5 rows from the dataset
sampled_data = iris.sample(n=5, random_state=42)

#display the sampled data
print("Randomly sampled data:\n", sampled_data)

Randomly sampled data:
      Sepal_Lenght  Sepal_Width  Petal_Length  Petal_Width            Class  \
73            6.1          2.8           4.7          1.2  Iris-versicolor
18            5.7          3.8           1.7          0.3      Iris-setosa
118           7.7          2.6           6.9          2.3   Iris-virginica
78            6.0          2.9           4.5          1.5  Iris-versicolor
76            6.8          2.8           4.8          1.4  Iris-versicolor

     Length mean  Sepal_Area
73          5.40       17.08
18          3.70       21.66
118         7.30       20.02
78          5.25       17.40
76          5.80       19.04

In [ ]:
#create a pivot table to show the mean "petal_length" for each "species"
#with pivot we completely change the dataset 
pivot_table = iris.pivot_table(index = "Class", values = "Petal_Length", aggfunc="mean") 

#index: we want to pivot the class
#aggregation function
#you can even mantain multiple values as a list 
pivot_table

                 Petal_Length
Class
Iris-setosa             1.464
Iris-versicolor         4.260
Iris-virginica          5.552

In [ ]:
pivot_table = iris.pivot_table(index = "Class", values = ["Petal_Length", "Petal_Width"], aggfunc="mean")

pivot_table

                 Petal_Length  Petal_Width
Class
Iris-setosa             1.464        0.244
Iris-versicolor         4.260        1.326
Iris-virginica          5.552        2.026

In [ ]:
#how to export a dataframe to a new CSV file
iris.to_csv("iris_with_sepal_area.csv", index=False )
print('Data exported to "iris_with_sepal_area.csv"')

Data exported to "iris_with_sepal_area.csv"

In [ ]:
#iris["Lenght_Mean"] = iris[['Sepal_Lenght', "Petal_Lenght"]].mean(axis=1)
#if we use axis = 0 it becomes a mess. axis=1 means horizontal, that it works row by row. axis = 0 works vertically which is col by col 
iris.head(3)

,Sepal_Lenght,Sepal_Width,Petal_Length,Petal_Width,Class,Length mean,Sepal_Area
0,5.1,3.5,1.4,0.2,Iris-setosa,3.25,17.85
1,4.9,3.0,1.4,0.2,Iris-setosa,3.15,14.70
2,4.7,3.2,1.3,0.2,Iris-setosa,3.00,15.04

In [ ]:
#how to remove a col from a data frame
iris2 = iris.drop(columns=["Length mean", "Sepal_Area"])
iris2

     Sepal_Lenght  Sepal_Width  Petal_Length  Petal_Width           Class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
#remove the sepal_area column we added earlier 
iris.drop(columns=["Length mean", "Sepal_Area"], inplace = True) #here I'm not creating a a new dataframe 
iris.head() #to display the data frame without the sepal_area column

   Sepal_Lenght  Sepal_Width  Petal_Length  Petal_Width        Class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa