Sum of Numbers
Write a program to calculate the sum of numbers from 1 to n (inclusive), where n is a user input.

In [4]:
#my solution
n= int(input("write an integer:"))
print(f"the required sum is  {(n*(n+1))//2}")

the required sum is  2211

In [3]:
#official solution 
n = int(input("Enter a number: "))
total = 0
for i in range(1,n+1):
    total +=i
print(f"The sum of numbers from 1 to {n} is {total}")

The sum of numbers from 1 to 66 is 2211

Factorial Calculation
Write a program to calculate the factorial of a given number n.

In [47]:
#my solution
n = int(input("write an integer:"))
fact= 1
while n>1:
    fact = n*fact
    n-=1
print(fact)

40320

In [48]:
#official solution
n = int(input("enter a number: "))
factorial = 1
for i in range(1,n+1):
    factorial *= i
print(f"The factorial of {n} is {factorial}")

The factorial of 66 is 544344939077443064003729240247842752644293064388798874532860126869671081148416000000000000000

Fibonacci Series
Write a program to generate the first n numbers in the Fibonacci sequence.

1 1 2 3 5 8 13 21 34

In [6]:
#my solution
Fib = [0,1]
n = int(input("type an integer: "))
while n>0:
    Fib.append(Fib[-1]+Fib[-2])
    n-=1
for i in Fib:
    print(i, end =" ") #it's to have a space instead of the defalut line

0 1 1 2 3 5 8 13 21

In [ ]:
#official solution
n = int(input("enter a number:"))
a,b = 0,1
for i in range(n):
    print(a, end=" ")
    a,b = b,a+b

0 1 1 2 3 5 8 13 21

Table of a Number
Write a program to display the multiplication table of a given number n.

In [ ]:
#my solution  (== their)
n = int(input("Enter a number: "))
for i in range(1,11):
    print(f"{n} x {i} = {n*i}")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Even Numbers
Write a program to print all even numbers between 1 and n.

In [7]:
#my solution
n = int(input("type an integer: "))
i=1
while i<=n:
   if i%2==0:
      print(i, end = " ")
   i+=1

2 4 6 8

In [ ]:
#official solution
n = int(input("Enter a number: "))
for i in range(1, n + 1):
    if i % 2 == 0:
        print(i)

2
4
6

Positive, Negative or Zero
Write a program that reads a number from the user and displays whether the number is positive, negative, or zero.

In [ ]:
#my solution
n = int(input("type an integer: ")) #they use float instad of int in the official solution
if n==0:
    print("the number is 0")
elif n>0:
    print("the number is positive")
else:
    print("the number is negative")

the number is positive

Largest of Three Numbers
Write a program that reads three numbers and prints the largest number among them.

In [ ]:
#my solution
x,y,z = float(input("type an integer: ")),float(input("type an integer: ")),float(input("type an integer: "))
if x>max(y,z):
    print (x)
else:
    print(max(y,z))

8.0

In [ ]:
#official solution
a = float(input("Enter the first number: "))
b = float(input("Enter the second number: "))
c = float(input("Enter the third number: "))

if (a >= b) and (a >= c):
    largest = a
elif (b >= a) and (b >= c):
    largest = b
else:
    largest = c

print(f"The largest number is {largest}")

The largest number is 8.0

Leap Year Checker
Write a program that checks whether a given year is a leap year or not.

In [ ]:
year = int(input("Enter a year: "))
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

2020 is a leap year.

Grade Calculator
Write a program that reads the marks of a student in three subjects and calculates the grade based on the average marks.

avg >= 90 then grade = A
80 <= avg < 90 then grade = B
70 <= avg < 80 then grade = C
...
up to F

In [ ]:
#my solution
a,b,c = int(input("enter the first mark")), int(input("enter the second mark")),int(input("enter the third mark"))
avg = (a+b+c)/3
if avg>=90:
    print("grade A")
elif 80<avg<90:
    print("grade B")
elif 70<avg<=80:
    print("grade C")
else:
    print("F")

grade A

In [ ]:
#official solution
marks1 = float(input("Enter marks for subject 1: "))
marks2 = float(input("Enter marks for subject 2: "))
marks3 = float(input("Enter marks for subject 3: "))

average = (marks1 + marks2 + marks3) / 3

if average >= 90:
    grade = 'A'
elif average >= 70:
    grade = 'B'
elif average >= 50:
    grade = 'C'
else:
    grade = 'F'

print(f"The grade is {grade}")

The grade is B

Vowel or Consonant
Write a program that reads a character and tells whether it's a vowel or a consonant.

In [ ]:
#my solution
vowels = ['A','E','I','O','U','a','e','i','o','u']
char = str(input("enter a letter"))
if char in vowels:
    print("the character is a vowel")
else:
    print("the characther is a consonant")

the characther is a consonant

In [8]:
#official solution
char = input("Enter a character: ").lower()

if not char.isalpha():
    print("symbol")
else:
    if char in ['a', 'e', 'i', 'o', 'u']:
        print(f"{char} is a vowel.")
    else:
        print(f"{char} is a consonant.")

symbol

Dataframe Creation and Display
Create a Pandas DataFrame from a dictionary of data, and display the DataFrame.

Data

data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [24, 27, 22],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

In [ ]:
#pandas dataframe
import pandas as pd
mydata = {'Name':['Alice','Bob','Charlie'], 'Age':[24,27,22],'City':['New York','Los Angeles','Chicago']}
df = pd.DataFrame(data=mydata)
print(df)

      Name  Age         City
0    Alice   24     New York
1      Bob   27  Los Angeles
2  Charlie   22      Chicago

Data Selection
Given a DataFrame, select the rows where the Age is greater than 25.

data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [24, 27, 22],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

In [ ]:
df[df['Age']>25]
df[df.Age>25]

  Name  Age         City
1  Bob   27  Los Angeles

Data Sorting
Given a DataFrame, sort the data based on the Age column in descending order.

data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [24, 27, 22],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

In [ ]:
#sort the data frame based on Age column in descending order
df.sort_values(by = "Age",ascending=False)

      Name  Age         City
1      Bob   27  Los Angeles
0    Alice   24     New York
2  Charlie   22      Chicago

Missing Data Handling
Given a DataFrame with missing values, fill the missing values with the mean of the non-missing values.

data = {
    'A': [1, 2, np.nan, 4],
    'B': [5, np.nan, np.nan, 8],
    'C': [9, 10, 11, 12]
}

In [13]:
import pandas as pd
import numpy as np
data = {'A':[1,2,np.nan,4],'B':[5,np.nan,np.nan,8],'C':[9,10,11,12]}
df =pd.DataFrame(data)

#official solution 
print(df.fillna(df.mean()))

          A    B   C
0  1.000000  5.0   9
1  2.000000  6.5  10
2  2.333333  6.5  11
3  4.000000  8.0  12

In [14]:
df = df.A.fillna(df.A.mean())
df.A.fillna(df.A.mean(),inplace = True)

AttributeError: 'Series' object has no attribute 'A'

Data Grouping and Aggregation
Given a DataFrame, group the data by one column and calculate the mean of the groups.

data = {
    'Department': ['HR', 'IT', 'Finance', 'HR', 'IT'],
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Edward'],
    'Salary': [50000, 60000, 70000, 80000, 90000]
}

In [ ]:
#now we have to do grouping 
data = {'Department':['HR','IT','Finance','HR','IT'], 
        'Employees':['Alice','Bob','Charlie','David','Edward'],
        'Salary':[50000,60000,70000,80000,90000]}

#group by department and mean of salary
df = pd.DataFrame(data)
mean_salary = df.groupby('Department')["Salary"].mean()
print(mean_salary)

Department
Finance    70000.0
HR         65000.0
IT         75000.0
Name: Salary, dtype: float64

Data Merging
Given two DataFrames, merge them based on a common column and display the merged DataFrame.

data1 = {
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie']
}

data2 = {
    'ID': [1, 2, 3],
    'Age': [24, 27, 22]
}

In [18]:
#merge data on a common column and display the result 
data1 = pd.DataFrame({'ID':[1,2,3],'Name':['Alice','Bob','Charie']})
data2 = pd.DataFrame({'ID':[1,2,3],'Age':[24,27,22]})
pd.merge(data1,data2, on="ID")

   ID    Name  Age
0   1   Alice   24
1   2     Bob   27
2   3  Charie   22

Data Stacking
Given two DataFrames, stack them vertically and display the stacked DataFrame.

data1 = {
    'A': [1, 2, 3],
    'B': [4, 5, 6]
}

data2 = {
    'A': [7, 8, 9],
    'B': [10, 11, 12]
}

In [ ]:
#concatenate data from different sources : STACKING
data1 = pd.DataFrame({'A':[1,2,3],'B':[4,5,6]})
data2 = pd.DataFrame({'A':[7,8,9],'B':[10,11,12]})
pd.concat([data1,data2], ignore_index=True)

   A   B
0  1   4
1  2   5
2  3   6
3  7  10
4  8  11
5  9  12

Data Filtering with .loc
Use the .loc method to filter rows based on a condition, and select a specific column.

data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [24, 27, 22],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

In [ ]:
#.lock is a method that might be useful 
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [24, 27, 22],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

df = pd.DataFrame(data)
df=df.loc[df['Age']>25,'City']
filtered_data2 = df[df['Age']>25].city
filtered_data = df.loc[df['Age'] > 25, 'City']
#correct THISNFJFKDMDNDGDJSM

Apply Function
Use the .apply() method to apply a function along the axis of a DataFrame.

data = {
    'A': [1, 2, 3, 4],
    'B': [5, 6, 7, 8]
}

def square(x):
    return x * x

In [ ]:
import pandas as pd

data = {
    'A': [1, 2, 3, 4],
    'B': [5, 6, 7, 8]
}

df = pd.DataFrame(data)

def square(x):
    return x * x

squared_df = df.apply(square)
print(squared_df)

df.apply(square) #apply single function to all dataframe: no sense. but it makes sense for a column only instead!

Pivot Table Creation
Given a DataFrame, create a pivot table to summarize the data. Group the data by 'Department', use 'Employee' as the index, and calculate the average salary for each department.

data = {
    'Department': ['HR', 'IT', 'Finance', 'HR', 'IT'],
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Edward'],
    'Salary': [50000, 60000, 70000, 80000, 90000]
}

In [50]:
#PIVOT: most complex stuff in pandas (not done in class)
import pandas as pd

# Given DataFrame
data = {
    'Department': ['HR', 'IT', 'Finance', 'HR', 'IT'],
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Edward'],
    'Salary': [50000, 60000, 70000, 80000, 90000]
}

df = pd.DataFrame(data)

# Creating a pivot table
pivot_table = df.pivot_table(values='Salary', index='Employee', columns='Department', aggfunc='mean', fill_value=0)
print(pivot_table)

Department  Finance       HR       IT
Employee
Alice           0.0  50000.0      0.0
Bob             0.0      0.0  60000.0
Charlie     70000.0      0.0      0.0
David           0.0  80000.0      0.0
Edward          0.0      0.0  90000.0

Duplicate Data Handling
Given a DataFrame, find and drop duplicate rows.

In [51]:
#duplicated: to take and remove the duplicates 
data = {'A': [1, 2, 2, 3], 'B': [4, 5, 5, 6]}
df = pd.DataFrame(data)
duplicated_rows = df[df.duplicated()]
print('Duplicated Rows:')
print(duplicated_rows)
df.drop_duplicates(inplace=True)
print('DataFrame after dropping duplicates:')
print(df)

Duplicated Rows:
   A  B
2  2  5
DataFrame after dropping duplicates:
   A  B
0  1  4
1  2  5
3  3  6

Data Normalization
Given a DataFrame, normalize a column of data to have a mean of 0 and a standard deviation of 1.

In [53]:
#data normalization 
#given a dataframe, normalize e column of data to have a mean of 0 and a sd of 1
data = {'A':[10,20,30,40,50]}
df = pd.DataFrame(data)
normalized_data = (df['A']-df['A'].mean())/df['A'].std()
print(normalized_data)

0   -1.264911
1   -0.632456
2    0.000000
3    0.632456
4    1.264911
Name: A, dtype: float64